extends layout

block content


  a.btn.btn-primary.btn-lg(href='/products/new' role='button') New Product

  each val in data
    .card(style='width: 18rem;')
      .card-body
        h5.card-title= val.name
        p.card-text= val.manufacturername  
        a.btn.btn-primary(href='#') Show
        a.btn.btn-warning(href=`/products/delete/${val.id}` role='button') Delete
        a.btn.btn-success(href=`/products/edit/${val.id}` role='button') Edit

